body {
    background-color: white;
}

.img-logo {
    width: 82px;
    margin: 24px auto;
    display: block;
}
.form-control {
    display: block;
    padding: auto;
}
.card-body {
    display: block;
}
.card-glass {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(255, 255, 255, 0.46);
}
@media only screen and (max-width: 576px) {
    .login-container {
        padding: 50px 30px;
    }
}
@media only screen and (min-width: 576px) {
    .login-container {
        padding: 50px 120px;
    }
}
@media only screen and (min-width: 768px) {
    .login-container {
        padding: 50px 200px;
    }
}

@media only screen and (min-width: 992px) {
    .login-container {
        padding: 50px 300px;
    }
}
    @media only screen and (min-width: 1200px) {
    .login-container {
        padding: 50px 460px;
    }
}